@font-face{
    font-family: 'poppins';
    src: url(./poppins.ttf);
}

*{
    font-family: 'poppins';
}

#background{
    background-image: url("./img/nkbk-fondop.png");
    background-repeat: repeat;
    background-size: contain;
    background-position: center;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#logol{
    width: 400px;
}

.img{
    width: 200px;
}