.carousel-container {
    position: relative;
    overflow: hidden;
  }
  
  .carousel {
    display: flex;
    transition: transform 0.5s ease; /* Agregar transición suave al desplazamiento */
  }
  
  .slide {
    position: relative;
    margin-right: 20px;
    flex-shrink: 0; /* Evitar que las diapositivas se reduzcan para ajustarse al contenedor */
    width: 33.333%; /* Establecer el ancho de cada diapositiva */
    border-radius: 20px;
  }
  
  .slide:last-child {
    margin-right: 0; /* Eliminar el margen de la última diapositiva para evitar un espacio adicional */
  }

  .slide-content {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    overflow: hidden; /* Agregar esto para ocultar cualquier borde o sombra que se salga de la diapositiva */
    border-radius: 20px;
  }
  
  .slide:hover .slide-content {
    display: block;
  }
  
  .img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;

  }
  
  button.prev,
  button.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0,0.5);
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px 15px;
    font-size: 18px;
  }
  
  button.prev {
    left: 10px;
  }
  
  button.next {
    right: 10px;
  }
  
  .slide.active {
    border: 2px solid #fff; /* Borde blanco alrededor de la diapositiva activa */
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5); /* Sombra suave alrededor de la diapositiva activa */
  }

body{
    background-color: #F3E9;
}